{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    {{ include('menuP.html.twig') }}

    <section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate"><span>Liste des Tuteurs</span></h2>
                    <h4>
                        <span class="icon-plus"></span>
                        <a href="{{ path('ajoutTuteur') }}">Ajouter</a>
                    </h4>
                    <table class="table">
                        <thead>
                        <tr class="table table-bordered">
                            <th class="table table-bordered">Nom</th>
                            <th class="table table-bordered">Mail</th>
                            <th class="table table-bordered">Telephone</th>
                            <th class="table table-bordered">Entreprise</th>
                            <th class="table table-bordered">Gestion</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tuteur in tuteurs %}
                            <tr class="table table-bordered">
                                <td class="table table-bordered">{{ tuteur.nomTuteur }} {{ tuteur.prenomTuteur }}</td>
                                <td class="table table-bordered">{{ tuteur.mailTuteur }}</td>
                                <td class="table table-bordered">{{ tuteur.telTuteur }}</td>
                                <td class="table table-bordered">{{ tuteur.entreprise.nomEntreprise }}</td>
                                <td>
                                    <a href="{{ path('modifierTuteur', {'id': tuteur.id}) }}"><span class="icon-edit">Modifier</span></a>
                                    <a href="{{ path('supprimerTuteur', {'id': tuteur.id}) }}"><span class="icon-eraser">Supprimer</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}