{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    {{ include('menuE.html.twig') }}

    <section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate"><span>Bienvenue</span></h2>

                </div>
            </div>
        </div>
    </div>


{% endblock %}