{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    {{ include('menuE.html.twig') }}

    <section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate"><span>Liste des Entreprises</span></h2>
                    <table class="table">
                        <thead>
                        <tr class="table table-bordered">
                            <th class="table table-bordered">Nom</th>
                            <th class="table table-bordered">Ville</th>
                            <th class="table table-bordered">Code Postal</th>
                            <th class="table table-bordered">Adresse</th>
                            <th class="table table-bordered">Telephone</th>
                            <th class="table table-bordered">Activité</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in entreprise %}
                            <tr class="table table-bordered">
                                <td class="table table-bordered">{{ i.nomEntreprise }}</td>
                                <td class="table table-bordered">{{ i.villeEntreprise }}</td>
                                <td class="table table-bordered">{{ i.cpEntreprise }}</td>
                                <td class="table table-bordered">{{ i.adresseEntreprise }}</td>
                                <td class="table table-bordered">{{ i.telEntreprise }}</td>
                                <td class="table table-bordered">{{ i.activiteEntreprise }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}